<div ui-content-for="title">
	<span>INFO</span>
</div>

<div class="scrollable">  
	<div class="scrollable-content" id="infoEntrega">
        <p>Esta aplicación está pensada para hacer más simple el recuento de puntos en el juego Agrícola, pero es también el final de la materia ADM de Escuela DaVinci.</p>  
        <ul>
            <li>MATERIA: ADM</li>
            <li>PROFESORA: MABEL GARCÍA</li>
            <li>ALUMNA: FLORENCIA EDERLI</li>
            <li>2018</li>
        </ul>
		
	</div>
</div>