<div class="scrollable">  
	<div class="scrollable-content">
		<div class="scrollable">
 <div class="scrollable-content section home" ng-controller="guardarController">
 
	<p>Calculá tu puntaje del juego de mesa Agrícola llenando todos los campos de acá abajo:</p>
			<form name="formulario" ng-submit="guardar(infoResultadoNuevo)" novalidate>
			
			<div class="form-group">
				
				<img ng-src="cositas/iconos/jugador.png" alt="granja" src="cositas/iconos/jugador.png">
				<ng-input theme='manami' label='JUGADOR' ng-required="si" ng-minlength=3 ng-model="infoResultadoNuevo.nombre" name="nombre"></ng-input>
				<div class="error" ng-show="formulario.nombre.$invalid && formulario.nombre.$touched">
					<span ng-show="formulario.nombre.$error.required">Completame!</span>
					<span ng-show="formulario.nombre.$error.minlength">Ese nombre es muy cortín!</span>
				</div>
			 
				<img ng-src="cositas/iconos/campos.png" alt="granja" src="cositas/iconos/campos.png">
				<ng-input theme='manami' type='number' label='CAMPOS' ng-required="si" ng-model="infoResultadoNuevo.campos" name="campos"></ng-input>
				<div class="error" ng-show="formulario.campos.$invalid && formulario.campos.$touched">
					<span ng-show="formulario.campos.$error.required">Completame!</span>
					<span ng-show="formulario.campos.$error.number">Esto debería ser un numerín</span>
				</div>
				
				<img ng-src="cositas/iconos/pastos.png" alt="granja" src="cositas/iconos/pastos.png">
				<ng-input theme='manami' type='number' label='PASTOS' ng-required="si" ng-model="infoResultadoNuevo.pastos" name="pastos"></ng-input>
				<div class="error" ng-show="formulario.pastos.$invalid && formulario.pastos.$touched">
					<span ng-show="formulario.pastos.$error.required">Completame!</span>
					<span ng-show="formulario.pastos.$error.number">Esto debería ser un numerín</span>
				</div>
				
				<img ng-src="cositas/iconos/granos.png" alt="granja" src="cositas/iconos/granos.png">
				<ng-input theme='manami' type='number' label='GRANOS' ng-required="si" ng-model="infoResultadoNuevo.granos" name="granos"></ng-input>
				<div class="error" ng-show="formulario.granos.$invalid && formulario.granos.$touched">
					<span ng-show="formulario.granos.$error.required">Completame!</span>
					<span ng-show="formulario.granos.$error.number">Esto debería ser un numerín</span>
				</div>
				
				<img ng-src="cositas/iconos/vegetales.png" alt="granja" src="cositas/iconos/vegetales.png">
				<ng-input theme='manami' type='number' label='VEGETALES' ng-required="si" ng-model="infoResultadoNuevo.vegetales" name="vegetales"></ng-input>
				<div class="error" ng-show="formulario.vegetales.$invalid && formulario.vegetales.$touched">
					<span ng-show="formulario.vegetales.$error.required">Completame!</span>
					<span ng-show="formulario.vegetales.$error.number">Esto debería ser un numerín</span>
				</div>
			
				<img ng-src="cositas/iconos/ovejas.png" alt="granja" src="cositas/iconos/ovejas.png">
				<ng-input theme='manami' type='number' label='OVEJAS' ng-required="si" ng-model="infoResultadoNuevo.ovejas" name="ovejas"></ng-input>
				<div class="error" ng-show="formulario.ovejas.$invalid && formulario.ovejas.$touched">
					<span ng-show="formulario.ovejas.$error.required">Completame!</span>
					<span ng-show="formulario.ovejas.$error.number">Esto debería ser un numerín</span>
				</div>
			
				<img ng-src="cositas/iconos/chanchos.png" alt="granja" src="cositas/iconos/chanchos.png">
				<ng-input theme='manami' type='number' label='CHANCHOS' ng-required="si" ng-model="infoResultadoNuevo.chanchos" name="chanchos"></ng-input>
				<div class="error" ng-show="formulario.chanchos.$invalid && formulario.chanchos.$touched">
					<span ng-show="formulario.chanchos.$error.required">Completame!</span>
					<span ng-show="formulario.chanchos.$error.number">Esto debería ser un numerín</span>
				</div>
			
				<img ng-src="cositas/iconos/ganado.png" alt="granja" src="cositas/iconos/ganado.png">
				<ng-input theme='manami' type='number' label='GANADO' ng-required="si" ng-model="infoResultadoNuevo.ganado" name="ganado"></ng-input>
				<div class="error" ng-show="formulario.ganado.$invalid && formulario.ganado.$touched">
					<span ng-show="formulario.ganado.$error.required">Completame!</span>
					<span ng-show="formulario.ganado.$error.minlength">Minimo 3 caracteres</span>
					<span ng-show="formulario.ganado.$error.number">Esto debería ser un numerín</span>
				</div>
				
				<img ng-src="cositas/iconos/tierrassinusar.png" alt="granja" src="cositas/iconos/tierrassinusar.png">
				<ng-input theme='manami' type='number' label='TIERRAS SIN USAR' ng-required="si" ng-model="infoResultadoNuevo.tierra" name="tierra"></ng-input>
				<div class="error" ng-show="formulario.tierra.$invalid && formulario.tierra.$touched">
					<span ng-show="formulario.tierra.$error.required">Completame!</span>
					<span ng-show="formulario.tierra.$error.number">Esto debería ser un numerín</span>
				</div>
				
				<img ng-src="cositas/iconos/establosvallados.png" alt="granja" src="cositas/iconos/establosvallados.png">
				<ng-input theme='manami' type='number' label='ESTABLOS VALLADOS' ng-required="si" ng-model="infoResultadoNuevo.vallados" name="vallados"></ng-input>
				<div class="error" ng-show="formulario.vallados.$invalid && formulario.vallados.$touched">
					<span ng-show="formulario.vallados.$error.required">Completame!</span>
					<span ng-show="formulario.vallados.$error.number">Esto debería ser un numerín</span>
				</div>
			
				<img ng-src="cositas/iconos/chozadearcilla.png" alt="granja" src="cositas/iconos/chozadearcilla.png">
				<ng-input theme='manami' type='number' label='CHOZA DE ARCILLA' ng-required="si" ng-model="infoResultadoNuevo.choza" name="choza"></ng-input>
				<div class="error" ng-show="formulario.choza.$invalid && formulario.choza.$touched">
					<span ng-show="formulario.choza.$error.required">Completame!</span>
					<span ng-show="formulario.choza.$error.number">Esto debería ser un numerín</span>
				</div>
			
				<img ng-src="cositas/iconos/casadepiedra.png" alt="granja" src="cositas/iconos/casadepiedra.png">
				<ng-input theme='manami' type='number' label='CASA DE PIEDRA' ng-required="si" ng-model="infoResultadoNuevo.casa" name="casa"></ng-input>
				<div class="error" ng-show="formulario.casa.$invalid && formulario.casa.$touched">
					<span ng-show="formulario.casa.$error.required">Completame!</span>
					<span ng-show="formulario.casa.$error.number">Esto debería ser un numerín</span>
				</div>
				
				<img ng-src="cositas/iconos/miembrosdelafamilia.png" alt="granja" src="cositas/iconos/miembrosdelafamilia.png">
				<ng-input theme='manami' type='number' label='MIEMBROS DE LA FAMILIA' ng-required="si" ng-model="infoResultadoNuevo.familia" name="familia"></ng-input>
				<div class="error" ng-show="formulario.familia.$invalid && formulario.familia.$touched">
					<span ng-show="formulario.familia.$error.required">Completame!</span>
					<span ng-show="formulario.familia.$error.number">Esto debería ser un numerín</span>
				</div>
			
				<img ng-src="cositas/iconos/cartas.png" alt="granja" src="cositas/iconos/cartas.png">
				<ng-input theme='manami' type='number' label='PUNTOS DE CARTAS' ng-required="si" ng-model="infoResultadoNuevo.puntos" name="puntos"></ng-input>
				<div class="error" ng-show="formulario.puntos.$invalid && formulario.puntos.$touched">
					<span ng-show="formulario.puntos.$error.required">Completame!</span>
					<span ng-show="formulario.puntos.$error.number">Esto debería ser un numerín</span>
				</div>
			
				<img ng-src="cositas/iconos/bonus.png" alt="granja" src="cositas/iconos/bonus.png">
				<ng-input theme='manami' type='number' label='BONUS' ng-required="si" ng-model="infoResultadoNuevo.bonus" name="Bonus"></ng-input>
				<div class="error" ng-show="formulario.bonus.$invalid && formulario.puntos.$touched">
					<span ng-show="formulario.bonus.$error.required">Completame!</span>
					<span ng-show="formulario.bonus.$error.number">Esto debería ser un numerín</span>
				</div>

			 
			 <button class="btn btn-primary btn-block" ng-disabled="formulario.$invalid" id="botonito">CALCULAR</button>
			 
			 
			 </div>
			</form>
			
		
	</div>
</div>
</div>
</div>

